<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid black;
      }
    </style>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle commande n°<%= @order.id %></h1>
    <br>
    <p> Une nouvelle commande est arrivée. Commande n°<%= @order.id %> en date du <%= @order.created_at %> </p>
    <br>
    <p>Pour accéder à votre espace admin, connectez-vous en <a href="<%= @url %>">cliquant ici</a>.</p>
    <br>
    <p> À très vite sur Catz Temple ! </p>
  </body>
</html>