/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.cat-hero-index-image {
  background-image: url("https://catz-temple.s3.eu-central-1.amazonaws.com/main-cat-pic.jpg");
  background-size: cover;
}

button.stripe-button-el,
button.stripe-button-el>span {
  padding-top: 3px;
  background-image: none;
  border-radius: 12px !important;
  font-size: x-large;
  width: 100%;
  height: 40px;
  display: flex;
  outline-style: none;
}

.cat-card-index:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: #f7f7f7
}