
<footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
      <div class="col-12 col-md">
        <h3>Catz Temple</h3>
        <small class="d-block mb-3 text-muted">© 2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Catégories</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Mon profil</a></li>
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">API</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>A propos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Vie privée</a></li>
          <li><a class="text-muted" href="#">CGU</a></li>
        </ul>
      </div>
    </div>
  </footer>